{% extends 'base.html' %}
{% block content %}

  <p><a href='/'>&laquo; Is there sewage in the Chicago River?</a></p>

  <h3>History of combined sewer overflows</h3>

  <p>The <a href='http://www.mwrd.org/'>Metropolitan Water Reclamation District of Greater Chicago</a> tracks whenever they release raw sewage in to Chicago area rivers. Since January 1st 2007, raw, untreated sewage has been dumped in to rivers <strong>{{ cso_dates|length }} times</strong>.</p>

  <p>These occurrences are referred to as <strong>combined sewer overflow</strong> events, or CSOs.</p>

  <table class='table listing' id='history'>
    <thead>
      <tr>
        <th>Date</th>
        <th># river segments affected</th>
        <th># sewage outfall locations</th>
      </tr>
    </thead>
    <tbody>
      {% for d in cso_dates %}
        <tr>
          <td>
            <a datetime='{{ d[0].strftime("%Y%m%d") }}' href='/?date={{ d[0].strftime("%m/%d/%Y") }}'>{{ d[0].strftime("%b, %d %Y") }}</a>
          </td>
          <td class='bar riverways'><span style="width:100%;"><strong>{{d[1]}}</strong></span></td>
          <td class='bar locations'><span style="width:100%;"><strong>{{d[2]}}</strong></span></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block extra_scripts %}
  <script src="/static/js/jquery.dataTables.min.js"></script>
  <script src="/static/js/jquery.dataTables.sorting.js"></script>
  <script src="/static/js/listing.bars.js"></script>
  <script src="/static/js/jquery.stickytableheaders.min.js"></script>

  <script>
    setBarWidthByNumber('riverways');
    setBarWidthByNumber('locations');
    // initialize datatables
    $('#history').dataTable( {
        "aaSorting": [ [0,'desc'] ],
        "aoColumns": [
            { "sType": "datetime" },
            { "sType": "numeric" },
            { "sType": "numeric" }
        ],
        "bInfo": false,
        "bPaginate": false,
        "bFilter": false
    }).stickyTableHeaders();
  </script>
{% endblock %}