{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/leaflet.css" />
{% endblock %}

{% block content %}

  <p class='pull-right'>
    <a href="/history/">History</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/espanol/">Español</a>
  </p>
  <div class='clearfix'></div>

  <div class="jumbotron">
    {% if today_flag %}
      <p>Is raw sewage being dumped into Chicago rivers right now?</p>
    {% else %}
      <p>Was raw sewage dumped into Chicago rivers on <strong>{{ date.strftime("%b, %d %Y") }}</strong>?</p>
    {% endif %}
    <h1 id='the-answer'></h1>
    <div id='history-teaser'></div>
  </div>

  <div id='map-info' style='display: none;'>
    <div id='map' style="height: 600px; width: 100%"></div>
    <table class='table' id='riverway-list'>
      <thead>
        <tr>
          <th>River segment</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    <table class='table' id='location-list'>
      <thead>
        <tr>
          <th>Location</th>
          <th>River segment</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    <hr />
    <p>Read the official reports from the Metropolitan Water Reclamation District:</p>
    <ul id='report-link'></ul>
  </div>

  <hr />

  <h2 id='what-is-this'><i class='fa fa-fw fa-info-circle'></i> What is this?</h2>
      <p>Whenever Chicago gets a lot of rain or there's a significant snowmelt, the Chicagoland water management agencies must dump excess wastewater into the lake and river in order to prevent flooding.</p>

      <p class='text-center'>
        <img src='static/images/cso_sign.jpg' class='img-responsive img-thumbnail' alt='Sewer Outfall #094' />
        <br /><em>A sign outside Combined Sewer Outfall #094 | Source: <a href='https://www.flickr.com/photos/reallyboring/2804416897'>Eric Allix Rogers</a></em>
      </p>

      <p>It's because of practices like these that the city <a href='http://en.wikipedia.org/wiki/Chicago_River#Reversing_the_flow'>reversed Chicago River's flow in 1900</a> to avoid contaminating our drinking supply. As a result, a significant amount of <a href='http://www.wbez.org/episode-segments/2011-06-23/front-and-center-how-chicagos-excrement-killing-fish-gulf-mexico-88234'>'nutrient pollution' from Chicago</a> travels down the Illinois and Mississippi rivers and collects in the Gulf of Mexico in a <a href='http://news.nationalgeographic.com/news/2013/06/130621-dead-zone-biggest-gulf-of-mexico-science-environment/'>dead zone roughly the size of New Hampshire</a>.</p>

      <p class='text-center'>
        <img src='static/images/tarp-tunnel.jpg' class='img-responsive img-thumbnail' alt='TARP Tunnel' />
        <br /><em>The Chicago Tunnel and Resevoir | Source: <a href='http://www.chicagotribune.com/health/chi-110310-deep-tunnel-pictures,0,7655316.photogallery'>Chicago Tribune</a></em>
      </p>

      <p>In 1975, the <a href='http://www.mwrd.org/irj/portal/anonymous/Home'>Metropolitan Water Reclamation District of Greater Chicago</a> started building a massive <a href='http://en.wikipedia.org/wiki/Tunnel_and_Reservoir_Plan'>Tunnel and Reservoir</a> (dubbed TARP) to prevent this flooding, but is not scheduled to complete it until 2029. The <a href='http://www.epa.gov'>US Environmental Protection Agency</a> (EPA) has since <a href='http://articles.chicagotribune.com/2011-05-12/travel/ct-met-chicago-river-swimming-20110512_1_epa-orders-clean-water-act-chicago-river'>sued to push this deadline forward</a>, but as of Jan 9, 2014 <a href='http://www.dailywhale.com/content-preview/eb2628e2081c3a62a1757bba96f68ef7/'>a judge ruled that the 2029 deadline will stand</a>.</p>

      <p class='text-center'>
        <a href='static/images/tarp-map-large.jpg'><img src='static/images/tarp-map.jpg' class='img-responsive img-thumbnail' alt='TARP Project Map' /></a>
        <br /><em>The TARP Plan | Source: <a href='http://apps.mwrd.org/Engineering/OurCommunityFlooding/OCFBody0210.htm'>Metropolitan Water Reclamation District</a></em>
      </p>

      <p>Additionally, in June 2013, the State of Illinois <a href='http://www.epa.gov/Region5/chicagoriver/'>adopted water quality standards as part of a consent decree by the EPA</a> to protect primary contact recreational uses for five segments of the Chicago and Calumet Rivers <a href='http://www.metroplanning.org/news-events/blog-post/6857'>by 2017</a> - such as kayaking, canoeing, boating and jet and water skiing. At this time, however, much of Chicago's riverways <a href='http://chicagotonight.wttw.com/2014/02/04/chicago-river-bacteria'>remain unsafe to recreate in</a>.</p>

      <p class='text-center'>
        <img src='static/images/recreation_danger.jpg' class='img-responsive img-thumbnail' alt='A warning sign on the bank of the Chicago Rive' />
        <br /><em>A warning sign on the bank of the Chicago River | Source: <a href='https://www.flickr.com/photos/reallyboring/13887961483'>Eric Allix Rogers</a></em>
      </p>

      <p>So for now, the Metropolitan Water Reclamation District will <a href='http://www.mwrd.org/irj/portal/anonymous?NavigationTarget=navurl://a5611bcef89c3cc2abca008c0ea969df'>keep dumping raw sewage in to our rivers</a> and <strong>we'll keep notifying citizens when it happens</strong>.</p>

      <hr />
      <h2 id='alerts'><i class='fa fa-fw fa-bullhorn'></i> Email, text message and Twitter alerts</h2>
      <p>
        The Metropolitan Water Reclamation District of Greater Chicago offers email and text message notifications for Combined Sewer Overflow events.
      </p>

      <p><i class='fa fa-fw fa-mobile'></i> <a href='http://apps.mwrd.org/cso/bookC.aspx'>Sign up for MWRD's text and email alerts &raquo;</a></p>

      <p><strong>Fair warning</strong>, if you sign up for these notifications, you will get text messages in the middle of the night.</p>

      <p><i class='fa fa-fw fa-twitter'></i> As part of this website, we also send out automated tweets on the <a href='https://twitter.com/opencityapps'>Open City Twitter account</a>.</p>

      <hr />
      <h2 id='api'><i class='fa fa-fw fa-gear'></i> Use this data!</h2>

      <p> Want to make something with this info? We made our scraped data available via a simple API.

      <h4>cso-status</h4>
      <pre>
# for data on the current status
http://istheresewageinthechicagoriver.com/cso-status/

# for data on a specific day from Jan 1, 2007
http://istheresewageinthechicagoriver.com/cso-status/?date=MM/DD/YYYY
      </pre>

      <h4>cso-events</h4>
      <pre>
# for scraped report data on CSO outfall locations, including duration and river segment ID
http://istheresewageinthechicagoriver.com/cso-events/

# to paginate through all 10,000 records, use the offset parameter
http://istheresewageinthechicagoriver.com/cso-events/?offset=100
      </pre>

      <h4>csos-by-waterway</h4>
      <pre>
# get the number of combined sewer overflows per waterway segment
http://istheresewageinthechicagoriver.com/csos-by-waterway/
      </pre>
      </p>

      <p>Data comes from scraping the <a href='http://www.mwrd.org'>Metropolitan Water Reclamation District of Greater Chicago</a> portal on <a href='http://www.mwrd.org/irj/portal/anonymous?NavigationTarget=navurl://54454aed0504d716cb64a988dcec8478'>Combined Sewer Overflows</a>.</p>

{% endblock %}

{% block extra_scripts %}
<script src="/static/js/leaflet.js"></script>
<script src="/static/js/esri-leaflet.js"></script>

<script>

  var current_date = moment("{{date.strftime('%m/%d/%Y')}}").format("M/D/YYYY");
  var map;
  var waterway_segments = {{waterway_segments|tojson|safe}};

  function init_map(){
    // render a map!
    map = L.map('map', { scrollWheelZoom: false }).setView([41.82, -87.7], 10);

    L.tileLayer('https://{s}.tiles.mapbox.com/v3/derekeder.hehblhbj/{z}/{x}/{y}.png', {
        attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'
    }).addTo(map);
  }

  function display_empty(){
    $("#the-answer").html("<span class='label label-success'>No</span>");
    $("#history-teaser").html("<br /><p>But sewage overflow has occurred on <strong>{{day_count}} days</strong> since 2007. <a href='/history/'>See when &raquo;</a></p>")
  }
  
  {% if today_flag %}
    // do it the new ESRI way
    var outfalls = L.esri.featureLayer({
      url: "http://utility.arcgis.com/usrsvcs/servers/6b8c99dc28b34d5399f59e480951655a/rest/services/CSO/CSO_Final/MapServer/0",
      style: function () {
        return { color: "#70ca49", weight: 2 };
      }
    });
    outfalls.query().where("CSO_EVENT='Yes'").run(function(error, featureCollection){
      if (featureCollection && featureCollection.features.length > 0) {
        $('#map-info').slideDown();
        $('#riverway-list').hide();
        init_map();
        var geojson = L.geoJson(featureCollection, {
          pointToLayer: function(feature, latlng){
            return L.circleMarker(latlng, {
                        color: '#d8b365', 
                        fillColor: '#d8b365',
                        radius: 10,
                        weight: 2,
                        opacity: 1 });
          }
        }).addTo(map);

        var total_locations = 0;
        geojson.eachLayer(function(layer){
          var popup = "<h4>" + layer.feature.properties['WATERWAY_REACH'] + "</h4>\
                      <p>" + layer.feature.properties['LOCATION'] + "</p>";
          layer.bindPopup(popup);

          //cross check WATERWAY_REACH against riverway segments and display geojson

          //add waterways to display table
          total_locations += 1;
          $('#location-list tbody').append("<tr>\
            <td>" + layer.feature.properties['LOCATION'] + "</td>\
            <td>" + layer.feature.properties['WATERWAY_REACH'] + "</td>\
            </tr>");
        })

        var suffix = 'locations';
        if (total_locations == 1)
          suffix = 'location';

        $("#the-answer").html("<span class='label label-warning'>Yes, in " + total_locations + " " + suffix + "</span>");

        $("#report-link").append("<li><i class='icon-file-text'></i> <a href='http://apps.mwrd.org/CSO/CSOEventSynopsisReport.aspx?passdate=" + current_date + "'>Event Synopsis Report</a></li><li><i class='icon-map-marker'></i> <a href='http://apps.mwrd.org/CSO/display_all.aspx?link_date=" + current_date + "'>Combined Sewer Overflows map</a></li>")

        map.whenReady(function () {
            window.setTimeout(function () {
                map.fitBounds(geojson.getBounds(), {padding: [25,25], maxZoom: 12});
            }.bind(this), 200);
        }, this);
      }
      else {
        display_empty();
      }
    })

  {% else %}
    
    $.when( $.getJSON("/cso-status/?date={{date.strftime('%m/%d/%Y')}}") ).then(function( data, textStatus, jqXHR ) {

      if (data['is-there-sewage'] == 'yes') {

        $('#map-info').slideDown();
        $('#location-list').hide();
        var suffix = 'river segments';
        if (data['cso-events'].length == 1)
          suffix = 'river segment';

        $("#the-answer").html("<span class='label label-warning'>Yes, in " + data['cso-events'].length + " " + suffix + "</span>");

        $("#report-link").append("<li><i class='icon-file-text'></i> <a href='http://apps.mwrd.org/CSO/CSOEventSynopsisReport.aspx?passdate=" + current_date + "'>Event Synopsis Report</a></li><li><i class='icon-map-marker'></i> <a href='http://apps.mwrd.org/CSO/display_all.aspx?link_date=" + current_date + "'>Combined Sewer Overflows map</a></li>")

        for (var i = 0; i < data['cso-events'].length; i++) {
          $('#riverway-list tbody').append("<tr>\
            <td>" + data['cso-events'][i]['riverway'] + "</td>\
            <td>" + data['cso-events'][i]['description'] + "</td>\
            </tr>");
        }

        // render a map!
        init_map();

        var geojson = L.geoJson(data['riverway-geojson'],
          {style: { weight: 3, opacity: 1, color: '#f39c12' }}).addTo(map);

        map.whenReady(function () {
            window.setTimeout(function () {
                map.fitBounds(geojson.getBounds(), {padding: [25,25], maxZoom: 12});
            }.bind(this), 200);
        }, this);

        geojson.eachLayer(function (layer) {
          var popup = "<h4>" + layer.feature.properties['riverway'] + "</h4>\
                      <p>" + layer.feature.properties['description'] + "</p>";
          // layer.bindLabel(popup);
        });
      }
      else {
       display_empty();
      }
    });
  {% endif %}
</script>
{% endblock %}
