<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Is there sewage in the Chicago River?</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class='col-md-10 col-md-offset-1'>

        <div class="jumbotron">
          <p>Is there raw sewage being dumped in the Chicago River right now?</p>
          <h1><a id='the-answer' href='#'></a></h1>
          <p id='water-details'>
          </p>
        </div>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <i class='icon-info-sign'></i> What is this?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Every so often when Chicago gets a lot of rain or there's a significant snowmelt, the Chicagoland water management agencies pump excess wastewater into the lake and river in order to prevent flooding.</p>

                <p class='text-center'>
                  <img src='static/images/chicago-river-bridges.jpg' class='img-responsive img-thumbnail' alt='The Chicago River' />
                  <br /><em>The Chicago River | Source: <a href='http://www.chicagomag.com/Chicago-Magazine/The-312/December-2011/Jeanne-Gang-and-Robert-Cassidy-Two-Generations-of-Urban-Planners-on-the-Chicago-River/'>Chicago Magazine</a></em>
                </p>

                <p>It's because of practices like these that the city <a href='http://en.wikipedia.org/wiki/Chicago_River#Reversing_the_flow'>reversed Chicago River's flow in 1848</a> to avoid contaminating our drinking supply. As a result, a significant amount of <a href='http://www.wbez.org/episode-segments/2011-06-23/front-and-center-how-chicagos-excrement-killing-fish-gulf-mexico-88234'>'nutrient pollution' from Chicago</a> travels down the Illinois and Mississippi rivers and collects in the Gulf of Mexico in a <a href='http://news.nationalgeographic.com/news/2013/06/130621-dead-zone-biggest-gulf-of-mexico-science-environment/'>dead zone roughly the size of New Hampshire</a>.</p>

                <p class='text-center'>
                  <img src='static/images/tarp-tunnel.jpg' class='img-responsive img-thumbnail' alt='TARP Tunnel' />
                  <br /><em>The Chicago Tunnel and Resevoir | Source: <a href='http://www.chicagotribune.com/health/chi-110310-deep-tunnel-pictures,0,7655316.photogallery'>Chicago Tribune</a></em>
                </p>

                <p>In 1975, the <a href='http://www.mwrd.org/irj/portal/anonymous/Home'>Metropolitan Water Reclamation District of Greater Chicago</a> started building a massive <a href='http://en.wikipedia.org/wiki/Tunnel_and_Reservoir_Plan'>Tunnel and Reservoir</a> (dubbed TARP) to prevent this flooding, but is not scheduled to complete it until 2029. The <a href='http://articles.chicagotribune.com/2011-05-12/travel/ct-met-chicago-river-swimming-20110512_1_epa-orders-clean-water-act-chicago-river'>EPA has since sued to push this deadline forward</a>, but as of Jan 9, 2014 <a href='http://www.dailywhale.com/content-preview/eb2628e2081c3a62a1757bba96f68ef7/'>a judge ruled that the 2029 deadline will stand</a>.</p>

                <p class='text-center'>
                  <a href='static/images/tarp-map-large.jpg'><img src='static/images/tarp-map.jpg' class='img-responsive img-thumbnail' alt='TARP Project Map' /></a>
                  <br /><em>The TARP Plan | Source: <a href='http://apps.mwrd.org/Engineering/OurCommunityFlooding/OCFBody0210.htm'>Metropolitan Water Reclamation District</a></em>
                </p>

                <p>So for now, the Chicagoland water management agencies will <a href='http://www.mwrd.org/irj/portal/anonymous?NavigationTarget=navurl://a5611bcef89c3cc2abca008c0ea969df'>keep dumping raw sewage in to our river</a> and <strong>we'll keep notifying citizens when it happens</strong>.</p>

                <p>This site is still a work in progress, so if you'd like to help out, <a href='mailto:riversewage@opencityapps.org'>send us an email</a> or <a href='https://github.com/open-city/chicago-river-sewage/issues'>collaborate with us on Github</a>.</p>

                <hr />
                <h4><i class='icon-cloud-download'></i> API</h4>
                <p> Want to make something with this info? We made our scraped data available via a simple API. 

                <pre>
# for data on the current status
http://istheresewageinthechicagoriver.com/water-status/

# for data on a specific day from Jan 2007 on
http://istheresewageinthechicagoriver.com/water-status/?date=MM/DD/YYYY
                </pre>

                </p>

                <p>Data comes from scraping the <a href='http://www.mwrd.org'>Metropolitan Water Reclamation District of Greater Chicago</a> portal on <a href='http://www.mwrd.org/irj/portal/anonymous?NavigationTarget=navurl://54454aed0504d716cb64a988dcec8478'>Combined Sewer Overflows</a>.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  <i class='icon-bullhorn'></i> Email and text message alerts
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  The Metropolitan Water Reclamation District of Greater Chicago offers email and text message notifications for Combined Sewer Overflow events.
                </p>
                <a class='btn btn-default' href='http://apps.mwrd.org/cso/bookC.aspx'>Sign up to get notified &raquo;</a>
              </div>
            </div>
          </div>
        </div>

        <div class="footer">
          <p>An <a href='http://opencityapps.org'>Open City</a> app by Scott Beslow, Derek Eder, Forest Gregg and Eric van Zanten | <a href='https://github.com/open-city/chicago-river-sewage'><i class='icon-github'></i> Pull requests welcome!</a></p>
        </div>
      </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/analytics_lib.js"></script>

    <script src="static/js/moment.min.js"></script>

    <script>
      var current_date = moment().format("M/D/YYYY");
      var mwrd_map = "http://apps.mwrd.org/CSO/cso_quick_view.aspx"

      $.when( $.getJSON("/water-status/") ).then(function( data, textStatus, jqXHR ) {

        $("#the-answer").attr("href", mwrd_map);

        if (data['is-there-sewage'] == 'yes') {
          var suffix = 'places';
          if (data['cso-events'].length == 1)
            suffix = 'place';

          $("#the-answer").html("<span class='label label-warning'>Yes, in " + data['cso-events'].length + " " + suffix + "</span>");

          // $("#water-details").append("<ul id='cso-events'></ul>");
          // $.each(data['cso-events'], function(i, json){
          //   $("#cso-events").append("<li>" + data['cso-events'][i][1] + "</li>");
          // });

          $("#water-details").append("<br /><i class='icon-map-marker'></i> <a href='" + mwrd_map + "'>Map</a>")

          $("#water-details").append("&nbsp;&nbsp;&nbsp;<i class='icon-file-text'></i> <a href='http://apps.mwrd.org/CSO/CSOEventSynopsisReport.aspx?passdate=" + current_date + "'>Report</a>")
        }
        else {
          $("#the-answer").html("<span class='label label-success'>No</span>");
        }
        

      });
    </script>

  </body>
</html>
