<!DOCTYPE html>
<html lang="es-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>¿Se está desechando aguas residuales en el Rio Chicago en este momento?</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/leaflet.css?1" />
    <link rel="stylesheet" href="/static/css/leaflet.label.css?1" />
    <!-- Custom styles for this template -->
    <link href="/static/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class='col-md-10 col-md-offset-1'>

        <p class='pull-right'>
          <a href="/history/">Historia</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/">English</a>
        </p>
        <div class='clearfix'></div>

        <div class="jumbotron">
          {% if today_flag %}
            <p>¿Se está desechando aguas residuales en el Rio Chicago en este momento?</p>
          {% else %}
            <p>¿Se está desechando aguas residuales en el Rio Chicago el <strong>{{ date.strftime("%b, %d %Y") }}</strong>?</p>
          {% endif %}
          <h1 id='the-answer'></h1>
          <div id='history-teaser'></div>
        </div>

        <div id='map-info' style='display: none;'>
          <div id='map' style="height: 600px; width: 100%"></div>
          <table class='table' id='riverway-list'>
            <thead>
              <tr>
                <th>Secciónes del rio</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <hr />
          <p>Lea los reportes officiales del Metropolitan Water Reclamation District:</p>
          <ul id='report-link'></ul>
        </div>

        <hr />
        <h2><i class='fa fa-fw fa-info-circle'></i> ¿Qué es esto?</h2>
        <p>De vez en cuando, cuando Chicago recibe mucha agua o hay gran cantidades de nieve que se derrite, las agencias de manejo de agua de Chicagoland bombean los excesos de aguas servidas hacia el lago y rio al fin de prevenir la inundación.</p>
        <!-- Translated: <p>Every so often when Chicago gets a lot of rain or there's a significant snowmelt, the Chicagoland water management agencies pump excess wastewater into the lake and river in order to prevent flooding.</p> -->

        <p class='text-center'>
          <img src='/static/images/chicago-river-bridges.jpg' class='img-responsive img-thumbnail' alt='The Chicago River' />
          <br /><em>The Chicago River | Source: <a href='http://www.chicagomag.com/Chicago-Magazine/The-312/December-2011/Jeanne-Gang-and-Robert-Cassidy-Two-Generations-of-Urban-Planners-on-the-Chicago-River/'>Chicago Magazine</a></em>
        </p>

        <p>Debido a métodos como estos, la cuidad <a href='http://en.wikipedia.org/wiki/Chicago_River#Reversing_the_flow'>revirtió la dirección del rio en 1900</a> para evitar la contaminación de nuestro agua potable. Lo que resulto fue una cantidad significativa de <a href='http://www.wbez.org/episode-segments/2011-06-23/front-and-center-how-chicagos-excrement-killing-fish-gulf-mexico-88234'>'nutrient pollution' de Chicago</a> corre por los ríos Illinois and Mississippi y se acumula en el Golfo de Mexico en una <a href='http://news.nationalgeographic.com/news/2013/06/130621-dead-zone-biggest-gulf-of-mexico-science-environment/'>zona vacía que es aproximadamente el tamaño de New Hampshire</a>.</p>
        <!-- Translated: <p>It's because of practices like these that the city <a href='http://en.wikipedia.org/wiki/Chicago_River#Reversing_the_flow'>reversed Chicago River's flow in 1848</a> to avoid contaminating our drinking supply. As a result, a significant amount of <a href='http://www.wbez.org/episode-segments/2011-06-23/front-and-center-how-chicagos-excrement-killing-fish-gulf-mexico-88234'>'nutrient pollution' from Chicago</a> travels down the Illinois and Mississippi rivers and collects in the Gulf of Mexico in a <a href='http://news.nationalgeographic.com/news/2013/06/130621-dead-zone-biggest-gulf-of-mexico-science-environment/'>dead zone roughly the size of New Hampshire</a>.</p> -->

        <p class='text-center'>
          <img src='/static/images/tarp-tunnel.jpg' class='img-responsive img-thumbnail' alt='TARP Tunnel' />
          <br /><em>The Chicago Tunnel and Resevoir | Source: <a href='http://www.chicagotribune.com/health/chi-110310-deep-tunnel-pictures,0,7655316.photogallery'>Chicago Tribune</a></em>
        </p>

        <p>En 1975, el <a href='http://www.mwrd.org/irj/portal/anonymous/Home'>Metropolitan Water Reclamation District of Greater Chicago</a> empezaron construyendo un masivo <a href='http://en.wikipedia.org/wiki/Tunnel_and_Reservoir_Plan'>Tunnel and Reservoir</a> (llamado TARP) para prevenir las inundaciónes, pero no se terminará hasta el año 2029. La <a href='http://articles.chicagotribune.com/2011-05-12/travel/ct-met-chicago-river-swimming-20110512_1_epa-orders-clean-water-act-chicago-river'>EPA ha demandado para retardar la fecha de finalización</a>, pero según la decisión de un juez, el 9 de Enero del 2014, <a href='http://www.dailywhale.com/content-preview/eb2628e2081c3a62a1757bba96f68ef7/'>este proyecto deberá estar terminado el 2029</a>.</p>
        <!-- Translated: <p>In 1975, the <a href='http://www.mwrd.org/irj/portal/anonymous/Home'>Metropolitan Water Reclamation District of Greater Chicago</a> started building a massive <a href='http://en.wikipedia.org/wiki/Tunnel_and_Reservoir_Plan'>Tunnel and Reservoir</a> (dubbed TARP) to prevent this flooding, but is not scheduled to complete it until 2029. The <a href='http://articles.chicagotribune.com/2011-05-12/travel/ct-met-chicago-river-swimming-20110512_1_epa-orders-clean-water-act-chicago-river'>EPA has since sued to push this deadline forward</a>, but as of Jan 9, 2014 <a href='http://www.dailywhale.com/content-preview/eb2628e2081c3a62a1757bba96f68ef7/'>a judge ruled that the 2029 deadline will stand</a>.</p> -->

        <p class='text-center'>
          <a href='/static/images/tarp-map-large.jpg'><img src='/static/images/tarp-map.jpg' class='img-responsive img-thumbnail' alt='TARP Project Map' /></a>
          <br /><em>The TARP Plan | Source: <a href='http://apps.mwrd.org/Engineering/OurCommunityFlooding/OCFBody0210.htm'>Metropolitan Water Reclamation District</a></em>
        </p>

        <p>Para ahora, las agencias de manejo de agua de Chicagoland <a href='http://www.mwrd.org/irj/portal/anonymous?NavigationTarget=navurl://a5611bcef89c3cc2abca008c0ea969df'>siguen echando aguas servidas en nuestro rio</a> y <strong>vamos a continuar informando acerca de esto</strong>.</p>
        <!-- <p>So for now, the Chicagoland water management agencies will <a href='http://www.mwrd.org/irj/portal/anonymous?NavigationTarget=navurl://a5611bcef89c3cc2abca008c0ea969df'>keep dumping raw sewage in to our river</a> and <strong>we'll keep notifying citizens when it happens</strong>.</p> -->

        <p>Este sitio-web todavía es un trabajo en proceso, pues si quisieras ayudar, <a href='mailto:riversewage@opencityapps.org'>envíanos un mail</a> o <a href='https://github.com/open-city/chicago-river-sewage/issues'>colabora con nosotros en Github</a>.</p>
        <!-- <p>This site is still a work in progress, so if you'd like to help out, <a href='mailto:riversewage@opencityapps.org'>send us an email</a> or <a href='https://github.com/open-city/chicago-river-sewage/issues'>collaborate with us on Github</a>.</p> -->

        <hr />
        <h2><i class='fa fa-fw fa-gear'></i> API</h2>
        <p>Quieres hacer algo usando esta información? Nuestros datos están disponible via un API simple.
          <!-- Translated: <p> Want to make something with this info? We made our scraped data available via a simple API. -->

          <pre>
            # for data on the current status
            http://istheresewageinthechicagoriver.com/water-status/

            # for data on a specific day from Jan 2007 on
            http://istheresewageinthechicagoriver.com/water-status/?date=MM/DD/YYYY
          </pre>

        </p>

        <p>Los datos vienen de la extracción del portal de <a href='http://www.mwrd.org'>Metropolitan Water Reclamation District of Greater Chicago</a> portal en <a href='http://www.mwrd.org/irj/portal/anonymous?NavigationTarget=navurl://54454aed0504d716cb64a988dcec8478'>Combined Sewer Overflows</a>.</p>
        <!-- Translated: <p>Data comes from scraping the <a href='http://www.mwrd.org'>Metropolitan Water Reclamation District of Greater Chicago</a> portal on <a href='http://www.mwrd.org/irj/portal/anonymous?NavigationTarget=navurl://54454aed0504d716cb64a988dcec8478'>Combined Sewer Overflows</a>.</p> -->

        <hr />
        <h2><i class='fa fa-fw fa-mobile'></i> Correo electrónico y alertas de texto</h2>
        <p>
          El Metropolitan Water Reclamation District of Greater Chicago ofrece correo electrónico y notificaciones de texto para eventos de typo: Combined Sewer Overflow.
          <!-- Translated: The Metropolitan Water Reclamation District of Greater Chicago offers email and text message notifications for Combined Sewer Overflow events. -->
        </p>
        <a class='btn btn-default' href='http://apps.mwrd.org/cso/bookC.aspx'>Enscribate para recibir notificaciones &raquo;</a>
        <!-- Translated: <a class='btn btn-default' href='http://apps.mwrd.org/cso/bookC.aspx'>Sign up to get notified &raquo;</a> -->

        <div class="footer">
          <p>Un app de <a href='http://opencityapps.org'>Open City</a> de Scott Beslow, Derek Eder, Forest Gregg y Eric van Zanten | <a href='https://github.com/open-city/chicago-river-sewage'><i class='icon-github'></i> Bienvenido hacer Pull-requests!</a></p>
          <!-- Translated: <p>An <a href='http://opencityapps.org'>Open City</a> app by Scott Beslow, Derek Eder, Forest Gregg and Eric van Zanten | <a href='https://github.com/open-city/chicago-river-sewage'><i class='icon-github'></i> Pull requests welcome!</a></p> -->
        </div>
      </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/analytics_lib.js"></script>

    <script src="/static/js/moment.min.js"></script>

    <script src="/static/js/leaflet.js?1"></script>
    <script src="/static/js/leaflet.label.js?1"></script>

    <script>
      var current_date = moment("{{date.strftime('%m/%d/%Y')}}").format("M/D/YYYY");

      $.when( $.getJSON("/cso-status/?date={{date.strftime('%m/%d/%Y')}}") ).then(function( data, textStatus, jqXHR ) {

        if (data['is-there-sewage'] == 'yes') {

          $('#map-info').slideDown();

          var suffix = 'secciónes del rio';
          if (data['cso-events'].length == 1)
            suffix = 'sección del rio';

          $("#the-answer").html("<span class='label label-warning'>Sí, en " + data['cso-events'].length + " " + suffix + "</span>");

          $("#report-link").append("<li><i class='icon-file-text'></i> <a href='http://apps.mwrd.org/CSO/CSOEventSynopsisReport.aspx?passdate=" + current_date + "'>Event Synopsis Report</a></li><li><i class='icon-map-marker'></i> <a href='http://apps.mwrd.org/CSO/display_all.aspx?link_date=" + current_date + "'>Combined Sewer Overflows map</a></li>")

          for (var i = 0; i < data['cso-events'].length; i++) {
            $('#riverway-list tbody').append("<tr>\
              <td>" + data['cso-events'][i]['riverway'] + "</td>\
              <td>" + data['cso-events'][i]['description'] + "</td>\
              </tr>");
          }

          // render a map!
          var map = L.map('map', { scrollWheelZoom: false }).setView([41.82, -87.7], 10);

          L.tileLayer('https://{s}.tiles.mapbox.com/v3/derekeder.hehblhbj/{z}/{x}/{y}.png', {
              attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'
          }).addTo(map);

          var geojson = L.geoJson(data['riverway-geojson'], 
            {style: { weight: 3, opacity: 1, color: '#f39c12' }}).addTo(map);
          map.whenReady(function () {
              window.setTimeout(function () {
                  map.fitBounds(geojson.getBounds(), {padding: [25,25], maxZoom: 12});
              }.bind(this), 200);
          }, this);

          geojson.eachLayer(function (layer) {
            var popup = "<h4>" + layer.feature.properties['riverway'] + "</h4>\
                        <p>" + layer.feature.properties['description'] + "</p>";
            layer.bindLabel(popup);
          });
        }
        else {
          $("#the-answer").html("<span class='label label-success'>No</span>");
          $("#history-teaser").html("<br /><p>Pero han pasado <strong>{{day_count}} días</strong> desde 2007. <a href='/history/'>Vea cuando &raquo;</a></p>")
        }
      });
    </script>

  </body>
</html>
